# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "webflow-designer-extension/**"
      - "webflow-designer-extension-cli/**"
      - "LICENSE"
      - ".gitignore"
      - "CHANGELOG.md"
      - "SECURITY.md"
      - "Roadmap.md"
      - "QandA.md"
jobs:
  deploy:
    name: Deploy app
    runs-on: blacksmith-4vcpu-ubuntu-2404
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.26.0"

      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
